<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>

    <!-- jQuery JavaScript Library; required by Bootstrap JS Library -->
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>

    <!-- Bootstrap CSS and JavaScript Libraries; required by Bootstrap Multiselect -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css"/>
    <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Bootstrap Multiselect JavaScript Library and CSS -->
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/js/bootstrap-multiselect.min.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/css/bootstrap-multiselect.css" type="text/css"/>

    <style>
        div.container {
            width: 100%;
            border: none;
        }

        header {
            padding: 1em;
            color: white;
            background-color: darkcyan;
            clear: left;
            text-align: center;
        }
        footer {
            position: absolute;
            size: 60px;
            width: 100%;
            bottom: 0;
            padding: 1em;
            color: white;
            background-color: darkcyan;
            clear: left;
            text-align: center;
        }

        nav {
            float: left;
            max-width: 190px;
            margin: 0;
            padding: 1em;
        }

        nav ul {
            list-style-type: none;
            padding: 1em;
        }

        nav ul a {
            text-decoration-color: whitesmoke;
        }

        article {
            margin-left: 170px;
            border-left: 1px solid gray;
            padding: 1em;
            overflow: hidden;
        }
    </style>


</head>
<body style="margin-bottom:60px">

<header>
    <h1><%= title %></h1>
</header>

<div class = "container">
