<%- include("../includes/header.ejs", {title:"Add New Resume"}); %>
<h1>Add New Resume</h1>
<form action="/resume/insert" method="post">
    <input type="hidden" id="account_id" name="account_id" value="<%= account.account_id %>">

    Resume Name: <input id="resume_name" name="resume_name" type="text" />
    <br />
    <br />
    School
    <br />
    <select id="school_id" name="school_id">
        <% for(var i=0; school.length > i; i++ ) { %>
        <option value="<%= school[i].school_id %>"><%= school[i].school_name %></option>
        <% } %>
    </select>
    <br/>
    Company
    <br/>
    <select id="company_id" name="company_id">
        <% for(var i=0; company.length > i; i++ ) { %>
        <option value="<%= company[i].company_id %>"><%= company[i].company_name %></option>
        <% } %>
    </select>
    <br/>
    Skill
    <br/>
    <select id="skill_id" name="skill_id">
        <% for(var i=0; skill.length > i; i++ ) { %>
        <option value="<%= skill[i].skill_id %>"><%= skill[i].skill_name %></option>
        <% } %>
    </select>
    <br />
    <br />
    <input type="submit" />

</form>
<%- include("../includes/footer.ejs"); %>