<%- include("../includes/header.ejs", {title:"Resume - View All"}); %>

<h1>Resumes</h1>
        <a href="/resume/add/selectuser">Create New Resume</a> <br />

        <br />

        <table border="1">
            <tr><th>First Name</th><th>Last Name</th><th>Resume Name</th></tr>
            <% for(var i=0; result.length > i; i++ ) { %>
            <tr>
                <td><%= result[i].first_name %> </td>
                <td> <%= result[i].last_name %></td>
                <td><%= result[i].resume_name%></td>
            </tr>
            <% } %>
        </table>
<%- include("../includes/footer.ejs"); %>