<%- include("./includes/header.ejs", {title: title}); %>

    <div class = "page-header">
        <h2>Welcome to the <%= title %></h2>
    </div>


    <nav>
        <ul>
            <li> <a href="/company/all">Companies - View All</a> </li>
            <li> <a href="/account/all">Accounts - View All</a> </li>
            <li> <a href="/account/all">Accounts - View All</a> </li>
            <li> <a href="/address/all">Addresses - View All</a> </li>
            <li> <a href="/skill/all">Skills - View All</a> </li>
            <li> <a href="/resume/all">Resumes - View All</a> </li>
        </ul>
    </nav>

    <article>
        <h3> Description of the links </h3>
        <p> Companies &ndash; Shows all the companies</p>
        <p> Accounts &ndash; Shows all the accounts </p>
        <p> Addresses &ndash; Shows all the addresses </p>
        <p> Skills &ndash; Shows all the skills </p>
        <p> Resumes &ndash; Shows all the resumes </p>
    </article>




<%- include("./includes/footer.ejs"); %>
